{% load static %}
{% load my_tags %}
{% include 'highlight.html' %}


<html>
    <meta charset="utf-8">

    <head>
        <title>搜索评论:{{name}}</title>
        <!-- Meta tag Keywords -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="keywords" content=""
        />
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
    
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <!--// Meta tag Keywords -->
        <!-- css files -->
        <link rel="stylesheet" href="{{STATIC_URL}}/css/bootstrap.css" type="text/css" media="all">
        <!-- Bootstrap-Core-CSS -->
        <link rel="stylesheet" href="{{STATIC_URL}}/css/font-awesome.css" type="text/css" media="all">
        <!-- Font-Awesome-Icons-CSS -->
        <link rel="stylesheet" href="{{STATIC_URL}}/css/owl.carousel.css" type="text/css" media="all" />
        <!-- Owl-Carousel-CSS -->
        <link rel="stylesheet" href="{{STATIC_URL}}/css/style.css" type="text/css" media="all" />
        <link rel="stylesheet" href="{{STATIC_URL}}/css/my.css" type="text/css" media="all" />
        <!-- Style-CSS -->
        <!-- //css files -->
        <!-- web fonts -->
        <link href="http://fonts.googleapis.com/css?family=Molle:400i&amp;subset=latin-ext" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
            rel="stylesheet">
        <style>            
            body {background-color: rgb(165, 214, 167);font-family:"方正兵马俑体 简",Times,serif;}
            bingma {font-family:"方正兵马俑体 简",Times,serif; font-size:100pt}
        </style>
        <!-- //web fonts -->
	</head>
	

	<body onload="highlight()">
		<div style="background:#545652; border: 0px solid green;; align:center; height:100px; font-size:25px; text-align: center;line-height:100px">
			<a style = "border:0px solid #A12426; color:#D5D5D5" href={% url 'movieList' 1 %}> 电影列表页</a >
				---------------
				<a style = "border:0px solid rgb(0, 0, 0);color:#D5D5D5" href={% url 'actorList' 1 %}> 演员列表页</a >
				<a style=" float:left; color:rgb(30, 0, 68); font-family: '方正兵马俑体 简'; font-size:10pt; text-align: center;" href={% url 'hoogle' %}>
					<img class="logo-img center-block" src="{{STATIC_URL}}/hoogle.png" height="100px" alt="" />
				</a>
		</div>

		<br/><br/><br/><br/>
	

        <div style="width: 1100px;border: 5px solid green; padding: 25px; margin: 0 auto; align:center; height:auto; text-align:center; font-size:20pt">
           评论" {{name}} "的搜索结果：共{{totalCount}}条结果，耗时：{{cost}}s
        </div>
        <br/> <br/>
		<div style="width: 1100px;border: 25px solid green; padding: 25px; margin: 0 auto; align:center; height:auto">
			<table align="center">
				<tr>
			{% for i in movies %}
				</tr>
				<tr>
				<td>
					<div style="width: 900px;border: 0px solid green; padding: 25px; margin: 0 auto; align:center; height:250px">
						<a href={% url 'movies' i.name %} width="250px">
							<img  style="float:left; clear:left;overflow: hidden; width:125; height:200" src= "{{STATIC_URL}}/moviephotos/{{i.name}}.jpg" >
							<p style="color:rgb(0, 0, 0);float:right; clear:right; width:80%;font-family: '方正兵马俑体 简'; font-size:15pt; ">  片名：{{i.name}}</p>
                            <p style="color:black;float:right; clear:right; width:80%;font-family: '方正兵马俑体 简'; font-size:15pt; ">  评分：{{i.average}}</p>
                            <p class = "to-highlight" style="color:black;float:right; clear:right; width:80%;font-family: '方正兵马俑体 简'; font-size:15pt; ">  包含关键字的评论：{{i.paint}}</p>
						</a>
					</div>
					</td>
				</td>
			{% endfor %}
			</tr>
			</table>
			</div>

	</body>

<div style="width: auto;border: 0px solid green; padding: 25px; margin: 0 auto; align:center; height:40; font-family: '方正兵马俑体 简'; font-size:25pt">
    <div style="text-align: center;">
	{% ifequal all 0 %}
         结果共一页
    {% else %}
	{% if now > 1 %}
		<a href={% url 'searchC' nowM1 name %}>上一页 </a >
	{% endif %}
	<a href={% url 'searchC'  1 name %}>(1) </a >···
	 {% if now > 3 %}
		<a href={% url 'searchC' nowM3 name %}>({{nowM3}})</a >
			--
	 {% endif %}
	 {% if now > 2 %}
	 <a href={% url 'searchC' nowM2 name %}>({{nowM2}})</a >
		--
	 {% endif %}	
	 {% if now > 1 %}
	 <a href={% url 'searchC' nowM1 name %}>({{nowM1}})</a >
		--
	 {% endif %}
	 <!--<span class="current">
	  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
	 </span>-->
	 ({{now}})

	 {% if nowA1 < all %}
	 --
	 <a href={% url 'searchC' nowA1 name %}> ({{nowA1}})</a >
	 {% endif %}
	 {% if nowA2 < all %}
	 --
	 <a href={% url 'searchC' nowA2 name %}> ({{nowA2}})</a >
	 {% endif %}
	 {% if nowA3 < all %}
	 --
	 <a href={% url 'searchC' nowA3 name %}> ({{nowA3}})</a >
	 {% endif %}
	 ···<a href={% url 'searchC' all name %}>({{all}})</a >
	{% if nowA1 < all %}
		<a href={% url 'searchC' nowA1 name %}> 下一页</a >
    {% endif %}
    {% endifequal %}
    </div>

    
   </div>



<br/>
<br/>
</html>
